/* -------------------------------------------------------------------------- */
/*                             REUSABLE COMPONENTS                            */
/* -------------------------------------------------------------------------- */

section {
    margin: 5rem 0;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.logo {
    width: 6em;
    transition: 250ms;
    padding: 2px;
}

.logo:hover {
    transform: scale(1.05);
}

/* -------------------------------------------------------------------------- */
/*                                  CAROUSEL                                  */
/* -------------------------------------------------------------------------- */

#myCarousel {
    user-select: none;
    text-size-adjust: auto;
}

#myCarousel h1,
#myCarousel p {
    text-shadow: 1px 1px 0 #eee;
}
#myCarousel .btn {
    text-shadow: none;
}
@media (max-width: 1080px) {
    #myCarousel h1 {
        font-size: 25px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   BRANDS                                   */
/* -------------------------------------------------------------------------- */

.card {
    transition: all linear 250ms;
    transform: scale(0.75);
}

.card:hover {
    background-color: #008bba5c;
    transform: scale(0.85);
}

.card:hover .card-text {
    color: darkblue;
}

/* -------------------------------------------------------------------------- */
/*                                 TYPOGRAPHY                                 */
/* -------------------------------------------------------------------------- */

h2 {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */

h2::after {
    content: '';
    display: block;
    background-color: #0d6dfd54;
    width: 140px;
    height: 2px;
    margin: 0 auto;
    margin-top: .5rem;
}

/* -------------------------------------------------------------------------- */
/*                                  SERVICES                                  */
/* -------------------------------------------------------------------------- */

#service h2::after {
    background-color: #ffc10754;
}

/* -------------------------------------------------------------------------- */
/*                                  PORTFOLIO                                 */
/* -------------------------------------------------------------------------- */

.portfolio h2 {
    text-align: center;
}

.portfolio h2::after {
    background-color: #07a8ff54;
}